{% if formData.errStr %}
  <header class="align-left">
      <span>PIR Sensor</span>
  </header>
  <div class="xsmall dimmed light">{{ formData.errStr }}</div>
{% elif config.showCountDown %}
  {% if config.title %}
  <header class="align-left">
      <span>{{ config.title }}</span>
  </header>
  {% endif %}
  <div class="medium">
    {% if (config.detectionSymbol) and (formData.detected) %}
    <i class="{{ config.detectionSymbol }}"></i>
    <span>&nbsp;</span>
    {% endif %}
    {% if formData.timeh %}
    <span class="bright">{{ formData.timeh }}</span>
    <span class="small dimmed">{{ config.hoursLabel }}</span>
    {% endif %}
    {% if formData.timem %}
    <span class="bright">{{ formData.timem }}</span>
    <span class="small dimmed">{{ config.minutesLabel }}</span>
    {% endif %}
    <span class="bright">{{ formData.times }}</span>
    <span class="small dimmed">{{ config.secondsLabel }}</span>
  </div>
{% endif %}
